<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume Builder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="navbar">
            <div class="hamburger">&#9776;</div>
            <div class="navbar-title">Resume Builder</div>
            <a href="#" class="login">Login</a>
        </div>
        <div class="boo">
            <form class="for" action="/preview" method="POST">
                <h2>Personal Details</h2>
                <div>
                    <input type="text" id="fname" name="fname" placeholder="First Name*" required>
                </div>
                <div>
                    <input type="text" id="lname" name="lname" placeholder="lastname*" required>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="email*" required>
                </div>
                <div>
                    <input type="text" id="phone" name="phone" inputmode="numeric" pattern="[0-9]*" placeholder="Phone number">
                </div>
                <div>
                    <input type="text" id="web" name="web" placeholder="your website">
                </div>
                <div>
                    <input type="text" id="linkedin" name="linkedin" placeholder="LinkedIn">
                </div>
                <button type="submit">Preview Resume</button>
            </form>            
        </div>
    </body>
</html>            